h1 {
    font-size: 3vw;
    text-align: center;
}

p {
    font-size: 1.5vw;
    text-align: justify;
}

body { 
    background: linear-gradient(155deg,#d1edf5,#edf5dc,#d5d5db);;
    height: auto;
    width: auto;
    padding: 5px;
    margin: 5px 30px 30px 30px;
    border: 2px solid black;
}

footer {
    display: table;
    text-align: center;
    width: 100%;
    margin: 50px 0px 20px 0;
    border: 3px solid green;
}

/* ======HEADER START====== */
header{
    border: 5px dotted rgb(238, 6, 6);
    background-color: rgb(233, 245, 242);
    text-align: center;
    max-width: 100%;
}

/* Image de header */
#imgheader {
    width: 100%;
    max-width: 1000px;
    text-align:center;
;

/* Header et Navigation */
}
nav {
    background-color: rgba(220, 248, 238, 0.759);
    border: 3px dotted black;
    padding: 15px;
    margin: 10px;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    max-width: 800px;
}
/* Onglets de navigation */
.navonglet {
    background-color: rgb(169, 203, 233);
    padding: 5px;
    margin: 5px;
    height: 50%;
    width: 100%;
    border: 1px solid black;
    font-size: 2vw;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
/* ======HEADER END====== */


/* =====GRID pour #mainProfile & #mainCV===== */
.grid {
    display:grid;
    height: auto;
    width: auto;
    border: 1px solid #0d9905;
    grid-template-columns: 2fr 3fr;
}


/* Titres dans les cases + cases de section */
.h2ingrid {
    font-size: 2.5vw;
}

/* =====Dashboard principal #mainProfile===== */
#mainProfile {
    border: 3px dotted rgb(5, 255, 201);
    background-color: azure;
    padding: 5px;
    margin: 5px;
    height: 100%;
    display: flex;
    flex-direction: flex-end;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
}

.element_mainProfile {    
    border: 1px dotted black;
    padding: 5px;
}
/* =====Dashboard principal #mainProfile===== */


/* =====Dashboard principal #mainCV===== */
#mainCV {
    border: 3px dotted rgb(241, 5, 5);
    background-color: bisque;
    margin: 5px;
    padding: 5px;
    height: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1%;
}
.element_mainCV {    
    border: 1px dotted black;
    padding: 5px;
}
/* =====Dashboard principal #mainCV===== */
